@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?gina7b');
  src:  url('../fonts/icomoon.eot?gina7b#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?gina7b') format('truetype'),
    url('../fonts/icomoon.woff?gina7b') format('woff'),
    url('../fonts/icomoon.svg?gina7b#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-folder-download:before {
  content: "\e933";
}
.icon-user-tie:before {
  content: "\e976";
}
.icon-power:before {
  content: "\e9b5";
}
.icon-eye:before {
  content: "\e9ce";
}
.icon-happy:before {
  content: "\e9df";
}
.icon-circle-up:before {
  content: "\ea41";
}
.icon-share2:before {
  content: "\ea82";
}
.icon-file-pdf:before {
  content: "\eadf";
}
