/* -- Estilos generales -- */
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Oxygen', sans-serif;
}

img{
    display: block;
    width: 100%;
}

body{
    margin: 0;
    background-color: #515d6b;
}

a{
    text-decoration: none;
}

.margin {
  margin: 60px 0;
}

.title {
  text-transform: uppercase;
  text-align: center;
  font-size: 28px;
}

.title-medium{
  text-align: center;
  font-size: 20px;
}

.content-text{
  text-align: justify;
}

/* estilos header */

header{
  position: fixed;
  background: #e66760;
  width: 100%;
  height: 100px;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  color: #fff;
}

header ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
}

header ul li {
  display: inline;
  text-decoration: none;
  margin-left: 30px;
}

.logo{
  width: 150px;
}

.icon {
  display: none;
}

.icon-hamburguer {
  display: inline;
  width: 44px;
}

@media all and (min-width: 724px){
  header {
      padding: 20px 40px;
  }
  .logo{
    width: 200px;
  }

  .icon {
    display: inline;
    width: 49px;
  }

  .icon-hamburguer {
    display: none;
  }
}

/* -- Estilos cabecera -- */

.cabecera {
  position: relative;
}

.img-cabecera {
  display: block;
  width: 100%;
}

.img-cabecera-desktop{
  display: none;
  width: 100%;
}

.boton-start {
  position: absolute;
  top: 57%;
  left: 30%;
  padding: 10px 30px;
  background-color: #e66760;
  border-radius: 5px;
  color: #fff;
}

@media all and (min-width: 724px) {
  .img-cabecera{
    display: none;
  }
  .img-cabecera-desktop{
    display: block;
  }
  .boton-start{
    top: 57%;
    left: 43%;
  }
}

/* -- Estilos steps section -- */
.steps-section{
  background: #fff;
  text-align: center;
  margin: 0;
  padding: 60px 0 90px 0;
}

.steps-section h2 {
  padding-top: 40px;
  margin: 0;
}

.step {
  padding: 40px 24px;
}

.steps img {
  height: 100px;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.boton-start-second {
  padding: 10px 80px;
  margin-top: 40px;
  background-color: #e66760;
  border-radius: 5px;
  color: #fff;
}

@media all and (min-width: 830px){
  .steps {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .step{
    width: 50%;
    padding: 0 50px;
    margin: 70px 0;
  }
  .steps-section {
    padding: 50px 40px;
  }
}

@media all and (min-width: 1200px){
  .steps {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .step{
    width: 25%;
    margin: 70px 0;
    padding: 0 50px;
  }
  .steps-section {
    padding: 50px 40px;
  }
  .boton-start-second{
    display: none;
  }
}







/* -- Estilos formulario -- */
.hidden{
  display: none;
}

.col1{
 display: flex;
 flex-direction: column;
 width: 80%;
 margin-left: auto;
 margin-right: auto;
}

input, textarea, select {
  padding: 10px;
  margin: 10px 0;
  background-color: #fff;
  border-width: 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
label {
  font-size: 13px;
  color: #fff;
}
input[type=submit]{
  background-color: #09f;
  border-radius: 5px;
  font-size: 16px;
  color: #fff;
}

fieldset {
  margin: 50px 0;
}

legend {
  width: 90%;
  height: 2.5em;
  background: #e66760;
  color: #fff;
  font-size: 18px;
  line-height: 2.5em;
  text-align: center;
  font-weight: bold;
}
.form-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-container-items {
   width: 45%;
 }







 /* -- Estilos cv mobile -- */

 .resume-container {
   width: 90%;
   display: block;
   margin-left: auto;
   margin-right: auto;
 }

 .resume {
   padding: 20px;
   background-color: #fff;
 }

 .resume h3 {
   background: #e66760;
   color: #fff;
   padding: 10px;
 }

 .profile-picture{
   width: 200px;
   height: 200px;
   border-radius: 100px;
   background-color: #e66760;
   display: block;
   margin-left: auto;
   margin-right: auto;
 }

 .contact-section {
   display: flex;
 }

 .contact-section p {
   font-size: 13px;
   margin: 5px 0;
   margin-right: 10px;
 }

 .contact-info, .social-media {
   width: 50%;
 }

 .option {
   margin: 50px 0;
 }

 .where-info {
   display: flex;
   justify-content: space-between;
 }

 .date-info {
   display: flex;
   flex-wrap: wrap;
   justify-content: flex-start;
 }

 .date-info p {
   font-size: 13px;
   margin: 0;
   margin-right: 10px;
 }

 h5 {
   font-size: 13px;
   margin: 0;
 }

 .options-content {
   display: flex;
 }

 .options-content-items {
   font-size: 13px;
   margin: 0;
   margin-right: 15px;
 }

 .personal-info-desktop {
  display: none;
}

.extract-info p{
  margin: 70px 0;
}


 @media all and (min-width: 1024px){
  .principal-content{
    display: flex;
    flex-direction: row-reverse;
  }
  .form{
    width: 40%;
  }
  .resume-container{
    width: 60%;
    padding: 50px 30px;
    font-size: 14px;
  }
  .resume{
    display: flex;
    padding: 0;
    width: 100%;
  }
  .resume-left{
    padding: 24px;
    width: 30%;
    background: rgb(128,128,128);
    color: #fff;
  }
  .resume-right{
    padding: 0 24px;
    width: 70%;
  }
  .profile-picture{
    width: 140px;
    height: 140px;
    border-radius: 70px;
    margin: 30px auto;
  }
  .personal-info-desktop {
    display: block;
    padding: 10px 0;
  }
  .personal-info-mvl {
    display: none;
  }
  .contact-section{
    display: block;
  }
  .title {
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
  }
  .title-medium{
    text-align: center;
    font-size: 16px;
  }
  .contact-section {
    display: block;
  }
  .contact-info, .social-media {
    margin: 60px 0;
  }
  .resume-left h3 {
    border-bottom: 2px solid #fff;
    background-color: inherit;
  }
  .resume-right h3 {
    border-bottom: 2px solid #000;
    background-color: inherit;
    color: #000;
  }
  .resume-right h4 {
    display: block;
    padding: 10px;
    margin: 10px 0;
    background-color: #ccc;
    color: #fff;
  }
}

/*Footer*/

footer {
  min-height: 20%;
  background-color: #e66760;
}

.footer-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  padding-top: 2%;
  padding-bottom: 5%;
}


.footer-items {
  font-size: 14px;
  padding-left: 2vw;
  left: 2vw;
}


.footer-items:nth-child(1) {
  order: 1;
  color: #fff;
}
.footer-items:nth-child(2) {
  order: 2;
  margin-left: 3vw;
  color: #fff;
}

.footer-items a:link {
  color: #fff;
  text-decoration: none;
}
.footer-items a:visited {
  color: #fff;
  text-decoration: none;
}
.footer-items a:hover {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

/*Footer*/

/* -- Button to the top -- */

.button-up {
  position: fixed;
  left: 80%;
  top: 75%;
  display: block;
}
.button-up img {
  width: 50px;
  opacity: 0.5;
}
.button-up img:hover {
  opacity: 1;
}

@media all and (min-width: 724px){
  .button-up {
    top: 85%;
    left: 85%;
  }
}

@media all and (min-width: 1024px){
  .button-up {
    top: 83%;
    left: 92%;
  }
}
