/* -- Estilos generales -- */
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

img{
    display: block;
    width: 100%;
}

body{
    margin: 0;
    background-color: #515d6b;
}

a{
    text-decoration: none;
}

.margin {
  margin: 60px 0;
}


.title {
  text-transform: uppercase;
  text-align: center;
  font-size: 28px;
}
.title-big{
  text-align: center;
  font-size: 23px;
  text-transform: uppercase;
}
.title-medium{
  text-align: center;
  font-size: 20px;
}
.title-small{
  text-align: center;
  font-size: 18px;
}

.content-text{
  text-align: justify;
}

/* -- Estilos cabecera -- */

.cabecera {
  position: relative;
}

.img-cabecera {
  width: 100%;
}

.boton-start {
  position: absolute;
  top: 48%;
  right: 25%;
  padding: 25px 50px;
  background-color: #e66760;
  border-radius: 5px;
  color: #fff;
}


/* -- Estilos formulario -- */
.hidden{
  display: none;
}

.col1{
 display: flex;
 flex-direction: column;
 width: 80%;
 margin-left: auto;
 margin-right: auto;
}

input, textarea, select {
  padding: 10px;
  margin: 10px 5px;
  background-color: #fff;
  border-width: 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type=submit]{
  background-color: #09f;
  border-radius: 5px;
  font-size: 16px;
  color: #fff;
}

#start, #end, #skills, #language, #skills, #nivel {
  width: 80%;
}  /*--Modifica Sara: dates, languages, nivel and skills width reduced*/



fieldset {
  margin: 50px 0;
  border: none;
}

legend {
  display: block;
  width: 80%;
  height: 2.5em;
  margin-left: auto;
  margin-right: auto;
  background: #e66760;
  color: #fff;
  margin-bottom: -1.2%;
  font-size: 18px;
  line-height: 2.5em;
  text-align: center;
  font-weight: bold;
} /*Modifica Sara*/

 .form-container {
   width: 100%;
   display: flex;
   flex-direction: row;
   border: 1px solid red;
 }  /*Modifica Sara: class added for start and end dates, skills and language*/

 .form-container-items {
   width: 100%;
   border: 1px solid green;
   text-align: center;
 }  /*Modifica Sara: class added for start and end dates, skills and language*/

/* -- Estilos cv mobile -- */
.resume {
  padding: 20px 35px;
  background-color: #fff;
}


.profile-picture{
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background-color: red;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*Footer*/

footer {
  min-height: 20%;
  background-color: #e66760;
}

.footer-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  padding-top: 2%;
  padding-bottom: 5%;
}


.footer-items {
  font-size: 14px;
  padding-left: 2vw;
  left: 2vw;
}


.footer-items:nth-child(1) {
  order: 1;
  color: #fff;
}
.footer-items:nth-child(2) {
  order: 2;
  margin-left: 3vw;
  color: #fff;
}

.footer-items a:link {
  color: #fff;
  text-decoration: none;
}
.footer-items a:visited {
  color: #fff;
  text-decoration: none;
}
.footer-items a:hover {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

/*Footer*/

/*button*/

.button {
  position: fixed;
  left: 95%;
  top: 85%;
  color: green;
  display: block;
  text-align: center;
}


.button img {
  width: 50%;
  border: 1px solid #e66760;
  opacity: 0.3;
}

.button img:hover {
    opacity: 1;
}
/*button*/
