/* -- Estilos generales -- */
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

img{
    display: block;
    width: 100%;
}

body{
    margin: 0;
}

a{
    text-decoration: none;
}


.title-big{}
.title-medium{}
.title-small{}
.content-text{}



/* -- Estilos formulario -- */
.hidden{
  display: none;
}

.col1{
 display: flex;
 flex-direction: column;
 width: 80%;
 margin-left: auto;
 margin-right: auto;
}

input, textarea, select {
  padding: 10px;
  margin: 10px 5px;
  background-color: #fff;
  border-width: 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type=submit]{
  background-color: #09f;
  border-radius: 5px;
  font-size: 16px;
  color: #fff;
}

fieldset {
  margin: 50px 0;
  border: none;
}

/* -- Estilos formulario -- */

.col2{
  display: flex;
}

.resume {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border: 1PX solid #ccc;
}
.aside-cv {
  width: 35%;
  padding: 10px;
}

.body-cv {
  width: 65%;
  padding: 10px;
}

/* -- Estilos cv mobile -- */

.profile-picture{
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background-color: red;
}
