footer {
  min-height: 20%;
  background-color: $color-primary;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer-items {
  font-size: 14px;
  padding-left: 2vw;
  left: 2vw;
}

.footer-items:nth-child(1) {
  order: 1;
  color: $color-light;
}

.footer-items:nth-child(2) {
  order: 2;
  margin-left: 3vw;
  color: $color-light;
}

.footer-items a:link {
  color: $color-light;
  text-decoration: none;
}

.footer-items a:visited {
  color: $color-light;
  text-decoration: none;
}

.footer-items a:hover {
  color: $color-light;
  text-decoration: none;
  font-weight: bold;
}
