footer {
  min-height: 20%;
  background-color: #e66760;
}

.footer-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  padding-top: 2%;
  padding-bottom: 5%;
}

.footer-items {
  font-size: 14px;
  padding-left: 2vw;
  left: 2vw;
}

.footer-items:nth-child(1) {
  order: 1;
  color: #fff;
}

.footer-items:nth-child(2) {
  order: 2;
  margin-left: 3vw;
  color: #fff;
}

.footer-items a:link {
  color: #fff;
  text-decoration: none;
}

.footer-items a:visited {
  color: #fff;
  text-decoration: none;
}

.footer-items a:hover {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
