.boton-start {

  padding: 10px 30px;
  background-color: $color-primary;
  border-radius: 5px;
  color: $color-midtone-dark;
  cursor: pointer;

  @media all and (min-width: 724px) {
      cursor: pointer;
  }
}

.boton-start-second {
  padding: 10px 80px;
  margin-top: 40px;
  background-color: $color-primary;
  border-radius: 5px;
  color: $color-light;
  cursor: pointer;

  @media all and (min-width: 1200px){
    display: none;
    cursor: pointer;
  }
}

.button-photo {
  width: 40%;
  padding: 10px 10px;
  background-color: $color-primary;
  border-radius: 5px;
  color: $color-midtone-dark;
  margin: 10px;
  text-align: center;
  font-weight: bold;
}

.photo-button {
  width: 40%;
  padding: 10px;
  margin: 10px 0;
  background-color: $color-light;
  color: $color-midtone-dark;
  font-weight: bold;
  border-width: 0;
  border-radius: 5px;

  @media all and (min-width: 724px){
    width: 18%;
  }

  @media all and (min-width: 1024px){
    width: 28%;
  }
}


#button1, #button2, #button3, #button4, #button5 {
  background: $color-secundary;
  width: 100%;
  color: $color-light;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}

.button-print{
  text-decoration: none;
  padding: 10px 30px;
  background-color: $color-primary;
  color: $color-midtone-dark;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color ease-in-out 0.5s;
  &:hover {
    background-color: $color-secundary;
    color: $color-light;
  }
}

.button-accordion {
  -moz-appearance: inherit;
  -o-appearance: inherit;
  -ms-appearance: inherit;
  appearance: inherit;
  -webkit-appearance: inherit;
  width: 90%;
  font-size: 16px;
  margin-top: 16px;
  margin-bottom: 8px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  background: $color-light;
  color: $color-midtone-dark;
  border-radius: 5px;
  -webkit-border-image: none;
  -o-border-image: none;
  border-image: none;
  border: 2px solid $color-light;
  transition: color ease-in-out 0.5s, background-color ease-in-out 0.5s, font-weight ease-in-out 0.5s;
  &:hover {
  color: $color-light;
  background-color: $color-midtone-dark;
  font-weight: bold;
}
}
