.boton-start {
  position: absolute;
  top: 57%;
  left: 30%;
  padding: 10px 30px;
  background-color: $color-primary;
  border-radius: 5px;
  color: $color-light;
  cursor: pointer;

  @media all and (min-width: 724px) {
    top: 57%;
    left: 43%;
    cursor: pointer;
  }
}

.boton-start-second {
  padding: 10px 80px;
  margin-top: 40px;
  background-color: $color-primary;
  border-radius: 5px;
  color: $color-light;
  cursor: pointer;

  @media all and (min-width: 1200px){
    display: none;
    cursor: pointer;
  }
}

.button-photo {
  padding: 10px 10px;
  background-color: $color-primary;
  border-radius: 5px;
  color: $color-light;
  margin: 10px;
}

.photo-button {
  width: 28%;
  padding: 10px;
  margin: 10px 0;
  background-color: $color-light;
  border-width: 0;
  border: 1px solid $color-midtone-light;
  border-radius: 5px;

  @media all and (min-width: 724px){
    width: 18%;
  }

  @media all and (min-width: 1024px){
    width: 28%;
  }
}

.button-up {
  position: fixed;
  left: 80%;
  top: 75%;
  display: block;

  @media all and (min-width: 724px){
    top: 85%;
    left: 85%;
  }

  @media all and (min-width: 1024px){
    top: 83%;
    left: 92%;
  }
}

.button-up img {
  width: 50px;
  opacity: 0.5;
}

.button-up img:hover {
  opacity: 1;
}

#button1, #button2, #button3, #button4, #button5 {
  background: $color-secundary;
  width: 100%;
  color: $color-light;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}

.button-print{
  background: $color-secundary;
  border: 3px solid white;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.button-accordion {
  -moz-appearance: inherit;
  -o-appearance: inherit;
  -ms-appearance: inherit;
  appearance: inherit;
  -webkit-appearance: inherit;
  width: 90%;
  font-size: 16px;
  margin-top: 16px;
  margin-bottom: 8px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  background: $color-light;
  color: $color-primary;
  border-radius: 5px;
  -webkit-border-image: none;
  -o-border-image: none;
  border-image: none;
  border: 2px solid $color-light;
  transition: color ease-in-out 0.7s, background-color ease-in-out 0.7s, font-weight ease-in-out 0.7s;
  &:hover {
  color: $color-light;
  background-color: $color-secundary;
  font-weight: bold;
}
}
