.hidden{
  display: none;
}

.form {
  @media all and (min-width: 1024px), print {
      width: 40%;
  }
}

.col1{
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

input, textarea, select {
  padding: 10px;
  margin: 10px 0;
  background-color: $color-light;
  border-width: 0;
  border: 1px solid $color-midtone-light;
  border-radius: 5px;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

label {
  font-size: 13px;
  color: $color-light;
}

input[type=submit]{
  background-color: #09f;
  border-radius: 5px;
  font-size: 16px;
  color: $color-light;
}

fieldset {
  margin: 50px 0;
}

legend {
  width: 90%;
  height: 2.5em;
  background: $color-primary;
  color: $color-midtone-dark;
  font-size: 18px;
  line-height: 2.5em;
  text-align: center;
  font-weight: bold;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}


.form-container-items {
  width: 100%;

}

#margin-reduced{
  margin-bottom: -6%;
}

#form-field{
  color: $color-light;
  font-weight: bold;
}

#paragraph-button-work{
  float: right;
  cursor: pointer;
}


#bookmark{
  color: white;
}
