/*Colores*/
$color-light: #fff;
$color-midtone-light: #ccc;
$color-midtone-dark: #515d6b;
$color-dark: #000;

$color-primary: #e66760; //Naranja
$color-secundary: #0099ff; //Azul


/*Tipografias*/
$body-font-family: 'Oxygen', sans-serif;
