/*Colores*/
$color-light: #fff;
$color-midtone-light: #ccc;
$color-midtone-dark: #515d6b;
$color-dark: #000;

$color-primary: #b1d1c4; //Menta suave
$color-secundary: #7f9596; //Menta oscuro


/*Tipografias*/
$body-font-family: 'Oxygen', sans-serif;
