.m-none {
  margin: 0; }

.m-auto {
  margin: auto; }

.m-xs {
  margin: 8px; }

.m-md {
  margin: 24px; }

.m-lg {
  margin: 48px; }

.m-xl {
  margin: 64px; }

.m-bottom-xs {
  margin-bottom: 8px; }

.m-bottom-md {
  margin-bottom: 24px; }

.m-bottom-lg {
  margin-bottom: 48px; }

.m-bottom-xl {
  margin-bottom: 64px; }

.m-top-xs {
  margin-top: 8px; }

.m-top-md {
  margin-top: 24px; }

.m-top-lg {
  margin-top: 48px; }

.m-top-xl {
  margin-top: 64px; }

.m-right-xs {
  margin-top: 8px; }

.m-right-md {
  margin-top: 24px; }

.m-right-lg {
  margin-top: 48px; }

.m-right-xl {
  margin-top: 64px; }

.m-left-xs {
  margin-top: 8px; }

.m-left-md {
  margin-top: 24px; }

.m-left-lg {
  margin-top: 48px; }

.m-left-xl {
  margin-top: 64px; }

.p-xs {
  padding: 8px; }

.p-md {
  padding: 24px; }

.p-lg {
  padding: 48px; }

.p-xl {
  padding: 80px; }

.p-bottom-xs {
  padding-bottom: 16px; }

.p-bottom-md {
  padding-bottom: 24px; }

.p-bottom-lg {
  padding-bottom: 48px; }

.p-bottom-xl {
  padding-bottom: 80px; }

.p-top-xs {
  padding-top: 16px; }

.p-top-md {
  padding-top: 24px; }

.p-top-lg {
  padding-top: 48px; }

.p-top-xl {
  padding-top: 80px; }

.p-right-xs {
  padding-top: 16px; }

.p-right-md {
  padding-top: 24px; }

.p-right-lg {
  padding-top: 48px; }

.p-right-xl {
  padding-top: 80px; }

.p-left-xs {
  padding-top: 16px; }

.p-left-md {
  padding-top: 24px; }

.p-left-lg {
  padding-top: 48px; }

.p-left-xl {
  padding-top: 80px; }

/*Colores*/
/*Tipografias*/
header {
  position: fixed;
  background: #b1d1c4;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  color: #fff; }
  @media all and (min-width: 1024px) {
    header {
      padding: 30px 30px; } }

header ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0; }

header ul li {
  display: inline;
  text-decoration: none;
  margin-left: 30px; }

.logo {
  width: 150px; }
  @media all and (min-width: 724px) {
    .logo {
      width: 200px; } }

footer {
  min-height: 20%;
  background-color: #b1d1c4; }

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px; }

.footer-items {
  font-size: 14px;
  padding-left: 2vw;
  left: 2vw; }

.footer-items:nth-child(1) {
  order: 1;
  color: #515d6b; }

.intro-section {
  background: #fff;
  text-align: center;
  margin: 0;
  padding: 60px 0 90px 0; }
  @media all and (min-width: 830px) {
    .intro-section {
      padding: 50px 40px; } }

.intro-section h2 {
  padding-top: 40px;
  margin: 0; }

@media all and (min-width: 830px) {
  .container-qualities {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; } }

.container-qualities img {
  height: 100px;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.quality {
  padding: 40px 24px; }
  @media all and (min-width: 830px) {
    .quality {
      width: 50%;
      padding: 0 50px;
      margin: 70px 0; } }
  @media all and (min-width: 1200px) {
    .quality {
      width: 25%;
      margin: 70px 0;
      padding: 0 50px; } }

.insert-photo {
  display: flex;
  justify-content: center;
  margin-bottom: 20px; }

.resume-container {
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  @media all and (min-width: 1024px), print {
    .resume-container {
      width: 60%;
      padding: 50px 30px;
      font-size: 14px; } }

.resume {
  padding: 20px;
  background-color: #fff; }
  @media all and (min-width: 1024px), print {
    .resume {
      display: flex;
      padding: 0;
      width: 100%; } }

@media all and (min-width: 1024px), print {
  .resume-left {
    padding: 24px;
    width: 30%;
    background-color: gray;
    color: #fff; } }

@media all and (min-width: 1024px), print {
  .resume-right {
    padding: 0 24px;
    width: 70%; } }

.resume-right h3 {
  border-bottom: 2px solid #000;
  background-color: inherit;
  color: #000; }

.resume-right h3.title-medium {
  border: none; }

.resume-right h4 {
  display: block;
  padding: 10px;
  margin: 10px 0;
  background-color: #ccc;
  color: #fff; }

.profile-picture {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background-color: #b1d1c4;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  @media all and (min-width: 1024px), print {
    .profile-picture {
      width: 140px;
      height: 140px;
      border-radius: 70px;
      margin: 30px auto; } }

.contact-section {
  display: flex; }
  @media all and (min-width: 1024px), print {
    .contact-section {
      display: block; } }

.contact-section p {
  font-size: 13px;
  margin: 5px 0;
  margin-right: 10px; }

.contact-info, .social-media {
  width: 50%; }
  @media all and (min-width: 1024px), print {
    .contact-info, .social-media {
      margin: 60px 0; } }

.option {
  margin: 50px 0; }

.where-info {
  display: flex;
  justify-content: space-between; }

.date-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; }

.date-info p {
  font-size: 13px;
  margin: 0;
  margin-right: 10px; }

h5 {
  font-size: 13px;
  margin: 0; }

.options-content {
  display: flex; }

.options-content-items {
  font-size: 13px;
  margin: 0;
  margin-right: 15px; }

@media all and (min-width: 1024px), print {
  .personal-info-mvl {
    display: none; } }

.personal-info-desktop {
  display: none; }
  @media all and (min-width: 1024px), print {
    .personal-info-desktop {
      display: block;
      padding: 10px 0; } }

.extract-info p {
  margin: 70px 0; }

.boton-start {
  padding: 10px 30px;
  background-color: #b1d1c4;
  border-radius: 5px;
  color: #515d6b;
  cursor: pointer; }
  @media all and (min-width: 724px) {
    .boton-start {
      cursor: pointer; } }

.boton-start-second {
  padding: 10px 80px;
  margin-top: 40px;
  background-color: #b1d1c4;
  border-radius: 5px;
  color: #fff;
  cursor: pointer; }
  @media all and (min-width: 1200px) {
    .boton-start-second {
      display: none;
      cursor: pointer; } }

.button-photo {
  width: 40%;
  padding: 10px 10px;
  background-color: #b1d1c4;
  border-radius: 5px;
  color: #515d6b;
  margin: 10px;
  text-align: center;
  font-weight: bold; }

.photo-button {
  width: 40%;
  padding: 10px;
  margin: 10px 0;
  background-color: #fff;
  color: #515d6b;
  font-weight: bold;
  border-width: 0;
  border-radius: 5px; }
  @media all and (min-width: 724px) {
    .photo-button {
      width: 18%; } }
  @media all and (min-width: 1024px) {
    .photo-button {
      width: 28%; } }

#button1, #button2, #button3, #button4, #button5 {
  background: #7f9596;
  width: 100%;
  color: #fff;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer; }

.button-print {
  text-decoration: none;
  padding: 10px 30px;
  background-color: #b1d1c4;
  color: #515d6b;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color ease-in-out 0.5s; }
  .button-print:hover {
    background-color: #7f9596;
    color: #fff; }

.button-accordion {
  -moz-appearance: inherit;
  -o-appearance: inherit;
  -ms-appearance: inherit;
  appearance: inherit;
  -webkit-appearance: inherit;
  width: 90%;
  font-size: 16px;
  margin-top: 16px;
  margin-bottom: 8px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  background: #fff;
  color: #515d6b;
  border-radius: 5px;
  -webkit-border-image: none;
  -o-border-image: none;
  border-image: none;
  border: 2px solid #fff;
  transition: color ease-in-out 0.5s, background-color ease-in-out 0.5s, font-weight ease-in-out 0.5s; }
  .button-accordion:hover {
    color: #fff;
    background-color: #515d6b;
    font-weight: bold; }

.hidden {
  display: none; }

@media all and (min-width: 1024px), print {
  .form {
    width: 40%; } }

.col1 {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: auto;
  margin-right: auto; }

input, textarea, select {
  padding: 10px;
  margin: 10px 0;
  background-color: #fff;
  border-width: 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

label {
  font-size: 13px;
  color: #fff; }

input[type=submit] {
  background-color: #09f;
  border-radius: 5px;
  font-size: 16px;
  color: #fff; }

fieldset {
  margin: 50px 0; }

legend {
  width: 90%;
  height: 2.5em;
  background: #b1d1c4;
  color: #515d6b;
  font-size: 18px;
  line-height: 2.5em;
  text-align: center;
  font-weight: bold; }

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px; }

.form-container-items {
  width: 100%; }

#margin-reduced {
  margin-bottom: -6%; }

#form-field {
  color: #fff;
  font-weight: bold; }

#paragraph-button-work {
  float: right;
  cursor: pointer; }

#paragraph-button-study {
  float: right;
  cursor: pointer; }

#reset {
  float: right;
  width: 30%;
  background: #b1d1c4;
  cursor: pointer; }

#bookmark {
  color: white; }

.hero {
  background-image: url("/images/hero-image.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 80px; }

/*Variables para alinear o mayusculas*/
.uppercase {
  text-transform: uppercase; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

/* -- Estilos generales -- */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Oxygen', sans-serif; }

img {
  display: block;
  width: 100%; }

body {
  margin: 0;
  background-color: #515d6b; }

a {
  text-decoration: none; }

.margin {
  margin: 60px 0; }

.title {
  text-transform: uppercase;
  text-align: center;
  font-size: 28px; }

.title-medium {
  text-align: center;
  font-size: 20px; }

.content-text {
  text-align: justify; }

@media all and (min-width: 1024px), print {
  .principal-content {
    display: flex;
    flex-direction: row-reverse; }
  .title {
    text-transform: uppercase;
    text-align: center;
    font-size: 18px; }
  .title-medium {
    text-align: center;
    font-size: 16px; } }

@media print {
  .button-print {
    display: none; }
  body {
    -webkit-print-color-adjust: exact; } }

* {
  box-sizing: border-box; }
